{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "@react-native-community"

  ],
  "settings": {
    "import/ignore": ["react-native"],
    "import/resolver": {
      "node": {
        "extensions":[
          ".js",
          ".android.js",
          ".ios.js",
          ".json"
        ]
      }
    }
  },
  "globals": {
    "__DEV__": true
  }
}