version: 2.1

orbs:
  react-native: react-native-community/react-native@7.1.1

commands:
  checkout-attach-workspace:
    description: 'Checkout and attach workspace'
    steps:
      - checkout
      - attach_workspace:
          at: ~/app

jobs:
  install-dependencies:
    executor:
      name: react-native/linux_js
      node_version: '16.20'
    working_directory: ~/app
    steps:
      - checkout
      - react-native/yarn_install
      - persist_to_workspace:
          root: ~/app
          paths:
            - node_modules

  lint:
    executor: react-native/linux_js
    working_directory: ~/app
    steps:
      - checkout-attach-workspace
      - run:
          name: Lint
          command: yarn lint

  validate-typescript:
    executor: react-native/linux_js
    working_directory: ~/app
    steps:
      - checkout-attach-workspace
      - run:
          name: Typescript
          command: yarn typescript

  ios_build:
    macos:
      xcode: 13.4.1
    working_directory: ~/app
    steps:
      - checkout
      - react-native/setup_macos_executor:
          node_version: '16.20'
      - run: yarn install --frozen-lockfile --non-interactive
      - react-native/pod_install:
          pod_install_directory: ./example/ios
      - react-native/ios_build:
          project_path: ./example/ios/Example.xcworkspace
          project_type: workspace
          scheme: example
          device: iPhone 11

  publish-version:
    executor: 
      name: react-native/linux_js
      node_version: '16.20'
    working_directory: ~/app
    steps:
      - checkout-attach-workspace
      - run:
          name: Publish New Version
          command: yarn ci:publish

workflows:
  version: 2

  build-lint-app:
    jobs:
      - install-dependencies:
          filters:
            branches:
              ignore:
                - main
      - react-native/android_build:
          checkout: true
          project_path: ./example/android
          workspace_root: ~/app
          filters:
            branches:
              ignore:
                - main
      - ios_build:
          filters:
            branches:
              ignore:
                - main
      - lint:
          requires:
            - install-dependencies
      - validate-typescript:
          requires:
            - install-dependencies

  release:
    jobs:
      - install-dependencies:
          filters:
            branches:
              only:
                - main
      - publish-version:
          context:
            - SHELL_VARIABLES
          requires:
            - install-dependencies
