<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.json">

    <application>
        <provider
            android:name=".RNShareFileProvider"
            android:authorities="${applicationId}.rnshare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_download_paths" />
        </provider>
    </application>
</manifest>
